extends layout

block content 
    .container
        .h-container
            .d-flex.bd-highlight.column.mt-5
                .p-2.flex-fill.bd-highlight.alignment
                    h1 #{title}
                .p-2.flex.bd-highlight.alignment
                    .input-group.md-form.form-sm.form-2.pl-0
                        input#searchInput.form-control.search(type='text' placeholder='Search Deals By Name' aria-label='Search' onchange="search()")
                        .input-group-append
                            button#searchBtn.input-group-text.bg-white(onclick="search()")
                                i.fa.fa-search.text-grey(aria-hidden='true')

        .f-container.mt-5
            .dropdown
                button.dropbtn.btn.btn-light.filter(onclick='toggleFilter()') Filter
                    i#arrow.fa.fa-arrow-down.icon-filter
            #filter.custom-control.custom-checkbox.mt-4
                input#customCheck.custom-control-input(type='checkbox' onclick="onsale()")
                label.custom-control-label.m-filter(for='customCheck') On Sale
                hr.mt-5

        #items.i-container.i-flex
            each item, i in items
                if (item.savings != 0)
                    .p-2.flex-fill.bd-highlight.w-33.mt-5.bord-shadow.sale(id="game" + i)
                        h5.text-overflow(id="item-" + i) #{item.title}
                        p
                            span.line-through &#36;#{item.normalPrice}
                            span.text-success  &#36;#{item.salePrice}
                        a.btn.btn-outline-dark(href="/detail?gameID="+ item.gameID + "&storeID=" + item.storeID) View More
                else
                    .p-2.flex-fill.bd-highlight.w-33.mt-5.bord-shadow.nosale(id="game" + i)
                        h5.text-overflow #{item.title}
                        p
                            span.line-through.text-success &#36;#{item.normalPrice}
                            //- span  &#36;#{item.salePrice}
                        a.btn.btn-outline-dark(href="/detail?gameID="+ item.gameID + "&storeID=" + item.storeID) View More
